body {
	background-image: linear-gradient(
		to right top,
		#3f4753,
		#00728e,
		#00a1a0,
		#00cc79,
		#a8eb12
	);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* header */
.ui[class*="top fixed"].menu {
	/* background: #48cae4; */
	background-color: rgba(0, 0, 0, 0.1);
}

/* topic container (top) */
.ui.segments:not(.horizontal) > .segment:first-child {
	border: none !important;
	color: yellow;
	font-family: "Fredoka One", cursive;
	font-size: large;
	background-color: rgba(0, 0, 0, 0.2);
}

/* topic container (body) */
.ui.segments:not(.horizontal) > .segment:last-child {
	border: none !important;
	background-color: rgba(0, 0, 0, 0.1);
}

.ui.divided.items > .item:last-child {
	color: white;
}

/* Post & Reply */
.ui.segment,
.ui.segments .segment {
	background-color: rgba(255, 255, 255, 0.1);
	color: black;
}

.ui.buttons:not(.basic):not(.inverted) > .button,
.ui.buttons > .ui.button:not(.basic):not(.inverted) {
	background: none !important;
	padding: 0;
}

.ui.icon.button > .icon,
.ui.icon.buttons .button > .icon {
	height: 25px;
}

.postBody,
.ui.feed > .event > .content {
	font-size: 1.18rem;
	color: black;
}

.ui.feed > .event > .content a {
	color: wheat;
}

.ui.centered.card {
	border: none !important;
	background-color: rgba(255, 255, 255, 0.1);
}

/* Font inside profile card */
.ui.card > .extra,
.ui.cards > .card > .extra,
.ui.card .meta *,
.ui.cards > .card .meta * {
	color: wheat;
}

/* Footer */
.ui.horizontal.divided.list > .item:first-child {
	color: white;
}

/* warning msg */
.ui.attached.warning.message,
.ui.warning.message {
	border: none !important;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
}

hr {
	color: black;
}

/* a tags */
p > a {
	color: aqua;
}

p > a:hover {
	color: yellow;
}
